<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.daydream.mappers.program">
	<select id="selectClassNo" resultType="int">
		select seq_class_no.nextval from dual
	</select>
	
	<!-- 프로그램 등록 -->
	<insert id="insertProgram">
		insert into tbl_program(class_name, price, target, personnel, class_intro, class_no)
		values(#{class_name}, #{price}, #{target}, #{personnel},
				 #{class_intro}, #{class_no})
	</insert>   
	
	<!-- 프로그램 서브 -->
	<insert id="insertProgramSub">
		insert into tbl_program_sub(program_sub_no, class_no, program_time)
		values(seq_program_sub_no.nextval, #{class_no}, #{program_time})
	</insert> 
   
   
   
  <!--  <select id="selectAll" resultType="ProgramVo">
   		select * from tbl_program
   		order by class_name
   </select> -->
   
   <!-- 클래스 번호로 조회 -->
   <select id="selectByClassNo" resultType="ProgramVo">
   		select * from tbl_program
   		where class_no = #{class_no}
   </select>
   
   
   <!--  프로그램 전체 조회 -->
<!--    <select id="selectAll" resultType="ProgramVo" > -->
<!--    		select  p.class_name, p.price, p.target, p.personnel,  -->
<!--    				p.class_intro, p.class_no, s.status_name -->
<!-- 		from tbl_program p, tbl_class_status s -->
<!-- 		where p.status = s.status_code -->
<!-- 		order by s.status_code -->
<!--    </select> -->

	<select id="selectAll" resultType="ProgramVo">
		select p.class_name, p.price, p.target, p.personnel, p.class_intro, p.class_no, c.time_no
		from tbl_program p, tbl_program_sub s, tbl_class_time c
		where p.class_no = s.class_no 
		and s.program_time = c.time_no
	</select>
   
   <select id="selectTimeList" resultType="ClassTimeVo">
   		select * from tbl_class_time
		order by time_no
   </select>
   
   <!-- 프로그램 수정 -->
   <update id="updateProgram">
   		update tbl_program set
   		class_name = #{class_name},
   		price = #{price},
   		target = #{target},
   		personnel = #{personnel},
   		class_intro = #{class_intro},
   		time_no = #{time_no}
   		where class_no = #{class_no}
   </update>
   
   <!-- 프로그램 삭제 -->
   <delete id="deleteProgram">
   		delete from tbl_program
   		where class_no = #{class_no}
   </delete>
</mapper>

