<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.daydream.mappers.reservation">

	
	
	<!-- 예약등록 -->
	<insert id="insertReservation">
		insert into tbl_reservation(user_id, res_date , rno, class_sub_no, count)
		values(#{user_id}, #{res_date}, seq_reservation_rno.nextval, #{class_sub_no}, #{count})
	</insert>
	
	<!-- 클래스 시간 목록 (1~4) -->
    <select id="selectTimeList" resultType="ReservationTimeVo">
   		select s.program_sub_no, t.time_no, t.time_start, t.time_end, 
   			(p.personnel - s.reserve_count) remain_count
		from tbl_program_sub s, tbl_class_time t, tbl_program p
		where s.program_time = t.time_no
		and p.class_no = s.class_no
		and s.class_no = #{class_no}
    </select>
   
   	<!-- rno 얻기 -->
	<select id="getRnoNextVal" resultType="int">
		select seq_reservation_rno.nextval
		from dual
	</select>
	

	<!-- 예약목록 -->	
	<select id="reservationList" resultType="ReservationListVo">
		select r.rno, r.res_date, p.class_name, r.count, s.class_no, r.status, c.status_name,
      		   m.user_name, m.user_phone, t.time_no, t.time_start, t.time_end
	    from tbl_reservation r, tbl_program p , tbl_program_sub s, tbl_reservation_code c,
	    tbl_member m, tbl_class_time t
	    where r.class_sub_no = s.program_sub_no
	    and s.class_no = p.class_no
	    and r.status = c.status_code
	    and s.program_time = t.time_no
	    and r.user_id = m.user_id
	    order by r.rno
	</select>

	<!-- 예약 수정 -->
	 <update id="updateReservation">
	 	update tbl_reservation set
	 		user_name = #{user_name},
	 		user_pw = #{user_pw},
	 		user_phone = #{user_phone},
	 		res_date = #{res_date},
	 		count= = #{count}
	 	where user_id = #{user_id}
	 </update>
	 
	 <!-- 예약 삭제 -->
	 <update id="deleteReservation">
	 	delete tbl_reservation set
	 	where class_no = #{class_no}
	 </update>


</mapper>