<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.daydream.mappers.review">
<!-- 현재 시간 구해오기 -->
<select id="getDate" resultType="java.sql.Date">
	select sysdate from dual
	</select>

<!-- 리뷰글 추가 -->
<insert id="insertReview">
	insert into tbl_review(bno, title, content, user_id)
	values (#{bno, #{title},#{content},#{user_id})
</insert>

</mapper>