<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.daydream.mappers.review">
	
	<!-- 리뷰글 추가 -->
	<insert id="insertReview">
		insert into tbl_review(
		bno, user_id, title, content, class_no)
		values
		(seq_review.nextval, #{user_id}, #{title}, #{content}, #{class_no})
	</insert>
	<!-- 리뷰  정보 보기 -->
	<select id="selectById" resultType="ReviewVo">
		selct * from tbl_review
		where bno = #{bno}
	</select>
	
	<!-- 리뷰 수정하기 -->
		<update id="updateReview">
			update tbl_review set
				user_id = #{user_id},
				title = #{title},
				content = #{content}
			where 
		</update>
		
	<!-- 리뷰글 삭제 -->
		<delete id="deleteReview">
			delete from tbl_review
			where bno = #{bno}
		</delete>
	
	<!-- 리뷰글 수정 -->
		<update id="modifyReview">
			update tbl_review set
				title = #{title},
				content = #{content}
			where bno = #{bno}
		</update>
		
	<!-- 리뷰글 삭제 -->
		<delete id="deleteReview">
			delete from tbl_review
			where bno = #{bno}
		</delete>
		
	<!-- 첨부파일 목록 -->
	<select id="getFilenames" resultType="string">
		select file_name
		from tbl_attach
		where bno = #{bno}
	</select>
	
	<!-- 첨부파일 데이터 삭제 -->
	<delete id="deleteAttach">
		delete from tbl_attach
		where bno = #{bno}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateViewcnt">
		update tbl_board set
			viewcnt = viewcnt + 1
		where bno = #{bno}
	</update>
	
</mapper>