<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.daydream.mappers.review">

	<!-- 모든 글목록 조회 -->
	<select id="selectAll" resultType="ReviewVo">
		select * from tbl_review
		order by bno
	</select>

	<!-- 로그인한 사용자의 수강완료 목록 -->
		<select id="reviewList" resultType="AttendClassVo">
			select r.user_id, r.res_date,
			p.class_name, s.program_time, r.status, p.class_no
			from tbl_reservation
			r, tbl_program p , tbl_program_sub s
			where r.class_sub_no =
			s.program_sub_no
			and s.class_no = p.class_no
			and r.user_id = #{user_id}
			and r.status = #{status}
		</select>

	<!-- 리뷰글 추가 -->
		<insert id="insertReview">
			insert into tbl_review( bno, user_id, title, content, class_no)
			values(#{bno}, #{user_id}, #{title}, #{content}, #{class_no})
		</insert>

	<!-- bno 얻기 -->
		<select id="getBnoNextVal" resultType="int">
			select seq_review_bno.nextval
			from dual
		</select>
	<!-- 리뷰 정보 보기 -->
		<select id="selectById" resultType="ReviewVo">
			select * from tbl_review
			where bno = #{bno}
		</select>

	<!-- 리뷰 수정하기 -->
		<update id="updateReview">
			update tbl_review set
			user_id = #{user_id},
			title = #{title},
			content = #{content},
			class_no = #{class_no}
			where bno = #{bno}
		</update>

	<!-- 리뷰글 삭제 -->
		<delete id="deleteReview">
			delete from tbl_review
			where bno = #{bno}
		</delete>

	<!-- 첨부파일 추가 -->
		<insert id="insertAttach">
			insert into tbl_attach(file_name, bno)
			values(#{file_name}, #{bno})
		</insert>
	
	<!-- 첨부파일 목록 -->
		<select id="getFilenames" resultType="string">
			select file_name
			from
			tbl_attach
			where bno = #{bno}
		</select>

	<!-- 첨부파일 데이터 삭제 -->
		<delete id="deleteAttach">
			delete from tbl_attach
			where bno = #{bno}
		</delete>
		
	<!-- 글 갯수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_review
		<include refid="search"></include>
	</select>

	<!-- 조회수 증가 -->
		<update id="updateViewcnt">
			update tbl_review set
			viewcnt = viewcnt + 1
			where bno = #{bno}
		</update>
		
	<!-- 검색 조건 -->
	<sql id="search">
		<if test="searchType != null and keyword != null">
			<choose>
				<when test='searchType == "t"'>
					where title like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "c"'>
					where content like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "w"'>
					where userid like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "tc"'>
					where title like '%' || #{keyword} || '%'
					or content  like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
	
	
</mapper>